@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #f2efc7, #b3efb2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 450px;
  background: rgba(255, 255, 255, 0.3);
  padding: 4rem;
  border-radius: 20px;
  position: relative;
}

.login-card img {
  width: 100px;
}

.login-card-logo,
.login-card-header,
.login-card-footer {
  text-align: center;
}

.login-card a {
  text-decoration: none;
}

.login-card a:hover {
  text-decoration: underline;
}

.login-card-header {
  margin-bottom: 2rem;
}

.login-card-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-card-form .form-item {
  position: relative;
}

.login-card-form .form-item .form-item-icon {
  position: absolute;
  top: 0.82rem;
  left: 1.4rem;
  font-size: 1.3rem;
  color: #747a81;
}

.login-card-form .form-item .label {
  position: absolute;
  left: 50px;
  top: 14px;
  pointer-events: none;
  font-size: 14px;
  color: #747a81;
  transition: 0.5s;
}

.login-card-form .checkbox {
  display: flex;
  align-items: center;
  gap: 7px;
}

.login-card-form .form-item-other {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(1rem * 0.8);
}

.login-card-footer {
  margin-top: 1.5rem;
  font-size: calc(1rem * 0.8);
}

.login-card input[type="text"],
.login-card input[type="password"] {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem 1.5rem;
  padding-left: calc(1rem * 3.5);
  border-radius: 100px;
  width: 100%;
}

.login-card input[type="text"]:valid,
.login-card input[type="password"]:valid,
.login-card input[type="text"]:focus,
.login-card input[type="password"]:focus {
  background: rgba(255, 255, 255, 0.7);
}

.login-card input[type="text"]:valid ~ .label,
.login-card input[type="password"]:valid ~ .label,
.login-card input[type="text"]:focus ~ .label,
.login-card input[type="password"]:focus ~ .label {
  color: #8360c3;
  transform: translate(10px, -10px);
  font-size: 0.8rem;
  margin-left: -2rem;
  top: -6px;
}

.login-card-form button {
  background: linear-gradient(to right, #38405f, #373737);
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.5s;
}

.login-card-form button:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.login-card-social {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  margin-top: 1.2rem;
}

.login-card-social > div {
  opacity: 0.8;
  letter-spacing: 1px;
  font-size: calc(1rem * 0.8);
}

.login-card-social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.login-card-social-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  transition: all 0.5s;
}

.login-card-social-btn a svg {
  width: 25px;
  height: 25px;
  stroke: white;
}

.facebook-logo {
  background: linear-gradient(to right, #002bff, #4415d3df);
}

.instagram-logo {
  background: linear-gradient(to right, #833ab4, #fd1d1d9e, #fcba045a);
}

.twitter-logo {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.login-card-social-btn a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
